/system/cache/
/system/logs/
/system/modification/
/config-dist.php
/config.php
/admin/config.php
/vqmod/vqcache/
/vqmod/mods.cache
/vqmod/checked.cache
/vqmod/logs/
/image/cache/
/.htaccess
**/dwsync.xml
